.fond_bleu {
	background-color: #2874a6;
	color: white;
}
#photo {
	width:100px;
	height:100px;
	float :right;
}


header h1 {

	
	text-align: center;
	font-size: 3em;
}
header {

	padding: 1px 0px;
}

nav{	
	padding: 10px 50px;
}
nav p{
	
	font-size: 14px;
}
section {
	padding: 30px 20px;

}

footer {
	padding: 20px 0px;
}
footer p {
	border
	text-align: center;
	font-size: 14px;	
}
aside {
	float: right;
	width: 20%;
	background-color: lightblue;
	padding: 20px 10px;	
}