.fond_bleu {
	background-color: #2874a6;
	color: white;
}

header h1 {

	
	text-align: center;
	font-size: 3em;
}
header {
	/*background-color: #2874a6;
	color: white;*/
	padding: 20px 0px;
	

}

nav{
	/*background-color: #2874a6;
	color: white;*/
	padding: 10px 50px;

}
nav p{
	
	font-size: 14px;
}
section {
	padding: 30px 20px;
}

footer {
	/*background-color: #2874a6;
	color: white;*/
	padding: 20px 0px;
}
footer p {
	text-align: center;
	font-size: 14px;
	
}
aside {
	float: right;
	width: 20%;
	background-color: lightblue;
	padding: 20px 10px;
	
}